/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/

html,
body {
	background: #F9FAFF;
	color: $textDark;
	font-family: $font;
}

::selection {
	background: $primaryColor;
	color: #fff;
}

::-moz-selection {
	background: $primaryColor;
	color: #fff;
}

.section {
	padding-top: 100px;
	padding-bottom: 70px;

	&.white {
		background: #fff;
	}
}

.left-heading {

	&.light {
		.section-title {
			color: $headingLight;
		}
	}

	.section-title {
		@include font($normal, 28px);
		color: $headingDark;
		letter-spacing: 1.75px;
		line-height: 42px;
		margin-bottom: 30px;

		&.dotted {
			position: relative;
			padding-bottom: 10px;
			margin-bottom: 35px;

			&:before {
				content: '';
				position: absolute;
				width: 19px;
				height: 2px;
				bottom: 0px;
				left: 3px;
				@include radius(2px);
				background: $primaryColor;
			}
			&:after {
				content: '';
				position: absolute;
				width: 9px;
				height: 2px;
				bottom: 0px;
				left: 24px;
				@include radius(2px);
				background: $primaryColor;
			}
		}
	}
}

.center-heading {
	text-align: center;

	.section-title {
		@include font($normal, 28px);
		color: $headingDark;
		letter-spacing: 1.75px;
		line-height: 38px;
		margin-bottom: 20px;
	}

	&.colored {
		.section-title {
			color: $headingLight;
		}
	}
}

.center-text {
	text-align: center;
	@include font($normal, 16px);
	color: $textDark;
	line-height: 28px;
	letter-spacing: 1px;
	margin-bottom: 60px;

	&.colored {
		color: $textLight;
	}

	p {
		margin-bottom: 30px;
	}
}

.left-text {
	@include font($normal, 16px);
	color: $textDark;
	line-height: 28px;
	letter-spacing: 1px;

	&.light {
		color: $textLight;
	}

	p {
		margin-bottom: 30px;

		&.dark {
			color: $headingDark;
		}
	}

	ul {
		color: $textDark;
		@include font($normal, 14px);
		letter-spacing: 0.88px;

		li {
			min-height: 32px;
			line-height: 32px;
			position: relative;
			padding-left: 30px;
			@include transition(.3s);

			&:before {
				position: absolute;
				left: 0px;
				content: "\f178";
				font-family: FontAwesome;
				height: 32px;
				line-height: 32px;
			}

			&:hover {
				padding-left: 40px;
			}
		}
	}
}

.padding-bottom-top-60 {
	padding-top: 60px !important;
	padding-bottom: 60px !important;
}

.border-bottom {
	border-bottom: 1px solid #F5F5F5 !important;
}


.align-self-center {
	-ms-flex-item-align: center!important;
		align-self: center!important;
}

.align-self-bottom {
	-ms-flex-item-align: flex-end!important;
		align-self: flex-end!important;
}

.light-btn {
	display: block;
	width: 170px;
	height: 40px;
	background: #fff;
	box-shadow: 0 2px 48px 0 rgba(0,0,0,0.08);
	line-height: 40px;
	@include radius(5px);
	padding-left: 66px;
	position: relative;
	@include font($normal, 14px);
	color: $headingDark;

	&.home-btn {
		width: 100%;
		margin-bottom: 30px;
	}

	&:before {
		font-family: FontAwesome;
    	content: "\f105";
    	letter-spacing: 0px;
		position: absolute;
		width: 32px;
		height: 32px;
		line-height: 32px;
		text-align: center;
		left: 4px;
		top: 4px;
		background: $secondaryColor;
		@include radius(5px);
		color: $headingDark;
		z-index: 2;
		@include transition(.3s);
	}

	&:after {
		content: '';
		position: absolute;
		width: 32px;
		height: 32px;
		left: 4px;
		top: 4px;
		background-image: linear-gradient(135deg, $gradientDark 0%, $gradientLight 100%);
		@include radius(5px);
		opacity: 0;
		@include transition(.3s);
		z-index: 1;
	}

	&:hover, &.active {
		color: $headingDark;

		&:before {
			background: none;
			color: #fff;
		}

		&:after {
			opacity: 1;
		}
	}
}

.dark-btn {
	display: block;
	width: 170px;
	height: 40px;
	background: $secondaryColor;
	box-shadow: 0 2px 48px 0 rgba(0,0,0,0.08);
	line-height: 40px;
	@include radius(5px);
	padding-left: 66px;
	position: relative;
	@include font($normal, 14px);
	color: $headingDark !important;

	&.home-btn {
		width: 100%;
		margin-bottom: 30px;
	}

	&:before {
		font-family: FontAwesome;
    	content: "\f105";
    	letter-spacing: 0px;
		position: absolute;
		width: 32px;
		height: 32px;
		line-height: 32px;
		text-align: center;
		left: 4px;
		top: 4px;
		background-image: linear-gradient(135deg, $gradientDark 0%, $gradientLight 100%);
		@include radius(5px);
		color: #fff;
		z-index: 2;
		@include transition(.3s);
	}

	&:after {
		content: '';
		position: absolute;
		width: 32px;
		height: 32px;
		left: 4px;
		top: 4px;
		background-image: linear-gradient(135deg, $gradientDark 0%, $gradientLight 100%);
		@include radius(5px);
		opacity: 0;
		@include transition(.3s);
		z-index: 1;
	}
}

.btn-primary-line {
	width: 160px;
	margin: auto;
	display: inline-block;
	height: 36px;
	line-height: 34px;
	text-align: center;
	@include radius(100px);
	border: 1px solid $primaryColor;
	margin-bottom: 40px;
	@include font($bold, 12px);
	background: #fff;
	color: $primaryColor;
	letter-spacing: 0.75px;
	text-transform: uppercase;
	@include transition(.3s);
	outline: none !important;
	cursor: pointer;

	&:hover {
		background: $primaryColor;
		color: #fff;
	}
}

.padding-top-0 {
	padding-top: 0px;
}

.padding-bottom-0 {
	padding-bottom: 0px;
}

.margin-top-50 {
	margin-top: -50px !important;
}

.margin-top-45 {
	margin-top: 45px !important;
}

.margin-bottom-0 {
	margin-bottom: 0px !important;
}

.margin-bottom-30 {
	margin-bottom: 30px !important;
}

.margin-bottom-40 {
	margin-bottom: 40px !important;
}

.margin-bottom-45 {
	margin-bottom: 45px !important;
}

.margin-bottom-20 {
	margin-bottom: 20px !important;
}

.margin-bottom-60 {
	margin-bottom: 60px !important;
}

blockquote {
	margin-bottom: 28px;
	padding: 30px;
	padding-top: 40px;
	@include radius(4px);
	background: #F4F8FB;
	overflow: hidden;

	.text {
		position: relative;
		text-align: center;

		p {
			position: relative;
			width: 100%;
			z-index: 2;
			margin-bottom: 10px !important;
		}

		&:before {
			font-family: FontAwesome;
			content: "\f10d";
			position: absolute;
			left: 0px;
			top: 0px;
			z-index: 1;
			font-size: 40px;
			color: darken(#F4F8FB, 5%);
		}
		&:after {
			font-family: FontAwesome;
			content: "\f10e";
			position: absolute;
			right: 0px;
			bottom: 0px;
			z-index: 1;
			font-size: 40px;
			color: darken(#F4F8FB, 5%);
		}
	}

	.author {
		color: $headingDark;
		text-align: center;
	}
}

.page-gallery {
	height: 185px;
	display: block;
	overflow: hidden;
	@include radius(4px);
	margin-bottom: 30px;
}


@media (max-width : 991px) {
	html, body {
	    overflow-x: hidden;
	}

	.mobile-bottom-fix {
		margin-bottom: 30px;
	}
}

